/* 
font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;
 */

 /*
 mac&cheese: #F4B886
lightCyan: #D3F3EE
 prussianBlue: #0E273C
 indianRed: #C75B5B
 ghostWhite: #E8EAF3
*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;700&display=swap');



body {
  font-family: Lato;
  font-weight: bold;
  color:#0E273C;
  font-size: 25px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar {
  display: flex;
  margin: 1em;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  margin:40px;
}

.navbar-text{
  margin-left: 20px;
  margin-right: 20px;
}


.top-header {
  display: flex;
  background-color: #F4B886;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;


}

.header-text {
  align-self: center;
  letter-spacing: 2px;
  font-family:Arvo;
  font-size: 40px;
  color: white;
}



.login{
  display: flex;
  justify-content: center;
}